@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('poppins-v5-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Poppins Regular'), local('Poppins-Regular'), url('poppins-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('poppins-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('poppins-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('poppins-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('poppins-v5-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('poppins-v5-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Poppins Bold'), local('Poppins-Bold'), url('poppins-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('poppins-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('poppins-v5-latin-700.woff') format('woff'), /* Modern Browsers */
    url('poppins-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('poppins-v5-latin-700.svg#Poppins') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('poppins-v5-latin-900.eot');
    /* IE9 Compat Modes */
    src: local('Poppins Black'), local('Poppins-Black'), url('poppins-v5-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('poppins-v5-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('poppins-v5-latin-900.woff') format('woff'), /* Modern Browsers */
    url('poppins-v5-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('poppins-v5-latin-900.svg#Poppins') format('svg');
    /* Legacy iOS */
}