@import "./assets/scss/arrow";
@import "./assets/scss/media";
@import "./assets/scss/placeholder-selector";

$purple: #172272;
$transparent_purple: rgba($purple, 0.9);
$orange: #f28a03;
$shadow_color: #333;
$light_shadow_color: rgba($shadow_color, 0.3);

$light_background_color: #f5f5f5;
$light_background_color2: #eee;
$dark_background_color: #ccc;
$dark_background_color2: rgba(#000, 0.1);
$content_color: #666;
$dark_content_color: #333;
$light_border_color: #ddd;

$content_para_line_height: 1.7em;

$main_boder_thickness: (
  default: 5px,
  _onlySdesktop: 4px,
  _onlymobile: 3px
);

$box_spacing: 2%;
$box_big_spacing: 3%;
$basic_direction_details: (
  horizontal: left right,
  vertical: top bottom
);
$accordion_hor_padding: 15px;
$accordion_transition_duration: 0.7s;
$page_transition_duration: 1000ms;
$page_transition_delay: 300ms;
$inner_page_transition_duration: 1000ms;

@mixin inline_valign($valign: middle) {
  display: inline-block;
  vertical-align: $valign;
}
@function get_position_opposite($position) {
  $position_opposites: (
    top: bottom,
    right: left
  );
  @each $key, $value in $position_opposites {
    @if ($key == $position) {
      @return $value;
    } @else if($value == $position) {
      @return $key;
    }
  }
}
@mixin repeat_css($property, $value, $repeat) {
  $new_value: $value;
  @for $i from 1 to $repeat {
    $new_value: $new_value + ", " + $value;
  }
  #{$property}: #{$new_value};
}
@function add_transition_selector(
  $transition_name,
  $type,
  $options,
  $selector: ""
) {
  $prefix: map-get($options, prefix);
  $suffix: map-get($options, suffix);
  @return $selector + if($selector == "", "", ", ") + if($prefix, $prefix, "") +
    "." + $transition_name + "-" + $type + "-active" + if($suffix, $suffix, "");
}
@mixin add_transition_default_css($all_transition_names, $options: ()) {
  @if type-of($all_transition_names) == "string" {
    $all_transition_names: ($all_transition_names);
  }
  $enter_active_selector: "";
  $leave_active_selector: "";
  @each $transition_name in $all_transition_names {
    $enter_active_selector: add_transition_selector(
      $transition_name,
      "enter",
      $options,
      $enter_active_selector
    );
    $leave_active_selector: add_transition_selector(
      $transition_name,
      "leave",
      $options,
      $leave_active_selector
    );
  }
  #{$enter_active_selector},
  #{$leave_active_selector} {
    @content;
  }
  #{$enter_active_selector} {
    position: relative !important;
  }
  #{$leave_active_selector} {
    position: absolute !important;
    left: 0%;
    top: 0%;
    width: 100%;
    box-sizing: border-box;
  }
}
