@mixin set_all_media_content($selector_options, $media_css: false) {
	@each $key in $all_media_keys {
		$prefix: map-get($selector_options, prefix);
		$suffix: map-get($selector_options, suffix);

		$cur_css_selector: $key;
		
		@if($prefix) {
			$cur_css_selector: $prefix + $cur_css_selector;
		}

		@if($suffix) {
			$cur_css_selector: $cur_css_selector + $suffix;
		}

		#{$cur_css_selector} {
			@content;

			@include media($key) {
				@if $media_css != false {
					@include add_css_from_map($media_css);
				}
			}
		}
	}
}

@include set_all_media_content((prefix: '%show_from_'), (
	display: block !important
)) {
	@extend %hide_all_show_from;
}

@include set_all_media_content((prefix: '%hide_from_'), (
	display: none !important
));