@import "./assets/scss/globals/main";

html,
body,
div,
section,
article,
aside,
header,
hgroup,
footer,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
time,
span,
em,
strong,
img,
ol,
ul,
li,
figure,
canvas,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #fff;
  font-family: Roboto, sans-serif;
  color: $content_color;

  @extend %common_font_size;
}
a {
  text-decoration: none;
  outline: 0;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
menu,
nav,
section,
summary {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
ul {
  list-style: none;
}
p {
  margin: 0;
}
button {
  padding: 0;
  border: none;
  background: none;
  box-sizing: content-box;
}
@mixin selection() {
  $color: #fff;
  $background: lighten($purple, 10);
  ::-moz-selection {
    color: $color;
    background: $background;
  }
  ::selection {
    color: $color;
    background: $background;
  }
}
@include selection();
.wrapper {
  width: $wrapper_width;
  max-width: 1080px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.off_white_bg {
  background: $light_background_color;
}
.bg_icon {
  position: relative;
  z-index: 1;
  > i {
    position: absolute;
    left: 50%;
    top: 50%;
    @include multi_media(
      font-size,
      (
        default: 50px,
        _onlySdesktop: 40px,
        _onlymobile: 30px
      )
    );
    color: rgba(#000, 0.03);
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  &.dark > i {
    color: rgba(#000, 0.05);
  }
}
.heading_wrapper {
  text-align: center;
}
.main_heading {
  @include inline_valign();
  position: relative;
  font-family: Poppins, sans-serif;
  @extend %XL_font_size;
  &%before_after {
    content: "";
    position: absolute;
    left: 50%;
    height: 1px;
    background: $orange;
    transform: translateX(-50%);
  }
  &:before {
    @extend %before_after;
    @include add_css_from_map(
      (
        bottom: (
          default: -12px,
          _onlySdesktop: -10px,
          _onlymobile: -5px
        ),
        width: (
          default: 40px,
          _onlySdesktop: 35px,
          _onlymobile: 30px
        )
      )
    );
  }
  &:after {
    @extend %before_after;
    @include add_css_from_map(
      (
        bottom: (
          default: -15px,
          _onlySdesktop: -13px,
          _onlymobile: -8px
        ),
        width: (
          default: 60px,
          _onlySdesktop: 50px,
          _onlymobile: 45px
        )
      )
    );
  }
  &.top_space {
    @extend %mart_big;
  }
  &.bottom_space {
    @extend %marb_big;
  }
  &.vertical_space {
    @extend %marv_big;
  }
  &.small_border_space {
    @extend %marb_extra_small;
    &:before {
      @include multi_media(
        bottom,
        (
          default: -2px,
          _onlySdesktop: -1px,
          _onlymobile: 0px
        )
      );
    }
    &:after {
      @include multi_media(
        bottom,
        (
          default: -5px,
          _onlySdesktop: -4px,
          _onlymobile: -3px
        )
      );
    }
  }
}
%h4_normal {
  font-family: Poppins, sans-serif;
  @extend %L_font_size;
  font-weight: bold;
  color: $dark_content_color;
}
%h5_normal {
  font-family: Poppins, sans-serif;
  font-size: 1em;
  font-weight: bold;
}
h4.normal {
  @extend %h4_normal;
}
h5.normal {
  @extend %h5_normal;
}
p.main {
  @extend %L_font_size;
  @extend %padb_big;
  line-height: $content_para_line_height;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
ul.seperator_content_list > li:not(:last-child) {
  @extend %padb_big;
  border-bottom: 1px solid $light_border_color;
  @extend %marb_big;
}
ul.side_heading_content_list {
  $break_point: Stablet;

  @extend %padb_normal;
  word-break: break-word;

  > li {
    display: flex;
    @include media($break_point) {
      flex-direction: column;

      &:not(:last-child) {
        padding-bottom: 20px;
      }
    }
    &:not(:last-child) > * {
      @extend %padb_big;

      @include media($break_point) {
        padding-bottom: 0px;
      }
    }
    > .heading_wrapper {
      @include media(-$break_point) {
        width: 20%;
        min-width: 180px;
      }
      text-align: left;
      > .normal {
        padding: 0px;
      }
    }
    > .main_content {
      flex: 1;

      @extend %padl_normal;
      border-left: 3px solid $light_border_color;
      @extend %marl_normal;
    }
  }
}
a.bottom_border {
  @include inline_valign();
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    @include multi_media(
      bottom,
      (
        default: -3px,
        _onlySdesktop: -2px,
        _onlymobile: -1px
      )
    );
    width: 100%;
    height: 1px;
    background: #fff;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.3s;
  }
  &:hover:before {
    opacity: 1;
    transform: scaleX(1);
  }
}
ul.heading_content_list {
  @extend %marb_big;

  > li {
    flex-direction: column;
    text-align: center;
    > h4.normal,
    > h5.normal {
      @extend %pad_normal;
      background: $light_background_color;
    }
    > .main_content {
      @extend %pad_normal;
      background: $light_background_color2;
    }
  }
}
.main_content_container {
  p {
    line-height: $content_para_line_height;
    $space_key: small;
    $small_space_key: extra_small;

    &:not(:last-child) {
      @extend %padb_#{$space_key};
    }
    &.small_space {
      @extend %padb_#{$space_key};
    }
    &.small {
      @extend %S_font_size;
      text-align: right;
    }
    &.top_space {
      @extend %padt_#{$space_key};

      &.small_space {
        @extend %padt_#{$small_space_key};
      }
    }
    img {
      vertical-align: middle;
    }
  }
  a {
    color: $orange;
    &:hover {
      text-decoration: underline;
    }
  }
  h4.normal,
  h5.normal {
    @extend %padv_extra_small;
  }
  .seperator {
    @extend %padb_small;
    border-bottom: 1px solid $light_border_color;
    @extend %marb_small;
  }
  ul.normal_list, ol {
    @extend %padl_normal;
  }
  %list_padb {
    @extend %padb_normal;
  }
  ul.normal_list {
    list-style-type: disc;
    line-height: $content_para_line_height;
    &:not(:last-child) {
      @extend %list_padb;
    }
    > li:not(:last-child) {
      @extend %padb_extra_small;
    }
  }
  ol {
    line-height: $content_para_line_height;
    &:not(:last-child) {
      @extend %list_padb;
    }
    &.big_space > li:not(:last-child) {
      @extend %list_padb;
    }
  }
  .table_wrapper {
    word-break: normal;
    overflow-x: auto;

    > table {
      border-collapse: collapse;

      &, td, th {
        border: 1px solid $light_border_color;
      }

      tr.header {
        background: $dark_background_color2;
      }

      tr:nth-child(even) {
        background: #FFF;
      }

      th {
        @extend %pad_small;
        color: $dark_content_color;
        text-align: center;
      }

      td {
        @extend %pad_extra_small;
      }
    }
  }
}
i.icon-linkedin.brand {
  $size: 18px;

  display: block;
  font-size: $size;
  width: $size;
  height: $size;
  padding: 0.25 * $size;
  border-radius: 0.2 * $size;
  background: #007bb5;
  color: #FFF;
  &:before {
    display: block;
  }
}
.page_container {
  position: relative;
  overflow: hidden;
}
@include add_transition_blank_mode_default_css((page-from-right page-from-left)) {
  transition: all $page_transition_duration $page_transition_delay;
}
.page-from-right-enter,
.page-from-left-leave-to {
  transform: translateX(50%);
  opacity: 0;
}
.page-from-left-enter,
.page-from-right-leave-to {
  transform: translateX(-50%);
  opacity: 0;
}
.inner_page_container {
  position: relative;
}
@include add_transition_blank_mode_default_css(inner-page) {
  transition: all $inner_page_transition_duration;
}
.inner-page-enter,
.inner-page-leave-to {
  opacity: 0;
}
