@mixin all_columns_common_css() {
  display: flex;
  flex-wrap: wrap;
  > * {
    display: flex;
    box-sizing: border-box;
    @include multi_media(margin-bottom, $box_bottom_space);
  }
}

%default_all_columns {
  @include all_columns_common_css();
}

$first_res: Sdesktop;

$all_column_details: (
  6: (
    details: (
      null: 6,
      $first_res: 4,
      tablet: 3,
      Lmobile: 2,
      mobile: 1
    ),
    space: $box_spacing
  ),
  4_full_long: (
    details: (
      null: 4,
      Stablet: 2,
      mobile: 1
    )
  ),
  4_full: (
    details: (
      null: 4,
      $first_res: 2,
      mobile: 1
    )
  ),
  3_non_default: (
    details: (
      Stablet: 3,
      Lmobile: 2,
      XSmobile: 1
    )
  ),
  3_small: (
    details: (
      Lmobile: 3,
      mobile: 2
    ),
    space: 7%
  ),
  2: (
    details: (
      null: 2,
      Stablet: 1
    ),
    space: $box_spacing
  ),
  2_small: (
    details: (
      mobile: 2
    )
  )
);

$column_el_selector_default_options: (
  with_ampersant: true,
  inverse: false
);

@function modify_column_selector(
  $selector,
  $options: null,
  $inversable: true,
  $type: ""
) {
  $options: autocorrect_options(
    $options,
    $column_el_selector_default_options,
    inverse
  );

  $with_ampersant: map-get($options, with_ampersant);
  $inverse: map-get($options, inverse);

  @if ($inversable == false and $inverse == true) {
    @error $type + " is not inversable; plese give css to all and then override for " + $type;
  }

  @return if($with_ampersant, "&", "") +
    if($inverse, ":not(" + $selector + ")", $selector);
}

@function get_column_selector($column, $type, $options: null) {
  @if $type == first_column {
    @return modify_column_selector(":nth-child(#{$column}n+1)", $options);
  } @else if $type == last_column {
    @return modify_column_selector(":nth-child(#{$column}n)", $options);
  } @else if $type == first_row {
    @return modify_column_selector(":nth-child(-n+#{$column})", $options);
  } @else if $type == last_row_first_child {
    @return modify_column_selector(
      ":nth-child(#{$column}n+1):nth-last-child(-n+#{$column})",
      $options,
      false,
      $type
    );
  } @else if $type == last_row {
    $selector: get_column_selector(
      $column,
      "last_row_first_child",
      (
        with_ampersant: false,
        inverse: false
      )
    );

    @return modify_column_selector($selector, $options, false, $type) + ", " +
      modify_column_selector($selector + " ~ *", $options, false, $type);
  }
}

@mixin set_column($column, $margin_right) {
  > * {
    width: (100 - (($column - 1) * $margin_right)) / $column;
    #{get_column_selector($column, last_column, true)} {
      margin-right: $margin_right;
    }
    &:last-child {
      margin-right: 0%;
    }
    #{get_column_selector($column, last_row)} {
      margin-bottom: 0px !important;
    }
  }
}
@function autocorrect_res($res) {
  @return if(
    type-of($res) == "string",
    abs(map-get($media_resolutions, $res)),
    $res
  );
}

$set_col_res_css_res_key: null;
@mixin set_col_res_css($details) {
  $all_res: map-keys($details);
  $count: length($all_res);

  @for $i from 1 through $count {
    $set_col_res_css_res_key: nth($all_res, $i) !global;
    $res: autocorrect_res($set_col_res_css_res_key);
    $next_res: autocorrect_res(if($i == $count, null, nth($all_res, $i + 1)));

    $media: if($res == null, "", "(max-width: " + $res + "px)");
    $media: $media +
      if(
        $next_res == null,
        "",
        if($media == "", "", " and ") + "(min-width: " + ($next_res + 1) + "px)"
      );

    @media screen and #{$media} {
      @content;
    }
  }
}
$default_config: (
  details: null,
  space: 0%,
  center: true
);
@mixin set_multi_column($config) {
  $config: autocorrect_options($config, $default_config);

  $details: map-get($config, details);
  $space: map-get($config, space);
  $center: map-get($config, center);

  @if ($center) {
    justify-content: center;
  }

  @include set_col_res_css($details) {
    @include set_column(map-get($details, $set_col_res_css_res_key), $space);
  }
}

@mixin add_all_column() {
  @each $key, $config in $all_column_details {
    %col#{$key} {
      $details_first_key: map_first_key(map-get($config, details));
      @if($details_first_key == null) {
        @extend %default_all_columns;
      }
      @else {
        @include media($details_first_key) {
          @include all_columns_common_css();
        }
      }
      @include set_multi_column($config);
    }
  }
}
@include add_all_column();

@mixin add_col_selector_css(
  $column_details_key,
  $selector_type,
  $selector_type_options: false
) {
  $details: map-get(map-get($all_column_details, $column_details_key), details);

  @include set_col_res_css($details) {
    #{get_column_selector(map-get($details, $set_col_res_css_res_key), $selector_type, $selector_type_options)} {
      @content;
    }
  }
}
