@import "methods";
@import "variables";
@import "arrow";
@import "media";
@import "placeholder-selectors/main";
@import "vue-transition-utils";

@mixin inline_valign($valign: middle) {
  display: inline-block;
  vertical-align: $valign;
}
@mixin repeat_css($property, $value, $repeat) {
  $new_value: $value;
  @for $i from 1 to $repeat {
    $new_value: $new_value + ", " + $value;
  }
  #{$property}: #{$new_value};
}

@mixin add_lines($width, $thickness, $color, $repeat, $space, $set_center: true) {
  width: $width;
  height: $thickness;
  background: $color;
  border-radius: $thickness;

  $box_shadow: "";
  @for $i from 2 through $repeat {
    @if($box_shadow != "") {
      $box_shadow: $box_shadow + ", ";
    }
    $y: ($thickness + $space) * ($i - 1);

    $box_shadow: unquote($box_shadow + "0px " + $y + " 0px " + $color);
  }

  @if ($box_shadow != "") {
    box-shadow: $box_shadow;
  }

  @if($set_center) {
    $total_height: ($thickness + $space) * $repeat - $space;
    margin-top: - round($total_height / 2);
  }
}
